* {
  box-sizing: border-box;
}
// sticky footer start
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
// sticky footer end

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: $grey;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__fluid {
  max-width: 100%;
  margin: 0 auto;
  // padding: 0 15px;
}

.section__name {
  text-align: center;
  padding-top: 220px;
  margin-bottom: 115px;

  &-title {
    font-size: 50px;
    font-weight: 500;
    color: $red;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 45px;
    display: inline-flex;
    
    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 6px;
      background-color: $red;
      left: -130px;
      top: -4px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 6px;
      background-color: $red;
      right: -130px;
      bottom: -4px;
    }
  }
  &-subtitle{
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    text-align: center;
  }
}
